.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      width: 738px;
      margin: 0;
    }
    @media screen and (max-width: 480px) {
      width: 450px;
    }
  }
