:root {
    --main-color: rgba(33, 150, 243, 1);
    --white-color: #ffffff;
    --black-color: #000000;
    --black-grey-color: #212121;
    --white-grey-color: #757575;
    --white-bg-color: #f5f4fa;
    --black-bg-color: #2f303a;
    --active-button-color: #005ca7;
    --main-font: "Roboto", sans-serif;
  }