.center {
    margin: 0;
    padding: 0;
  }
  
  .center__image{
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-pc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-pc@2.jpg");
      }

    @media screen and (min-width: 1600px) {
        width: 1600px;
        height: 600px;
        background-size: cover;
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-pc.jpg");
        background-repeat: no-repeat;
        background-position: center;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
          background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-pc@2.jpg");
        }
      }
    @media screen and (min-width: 1200px)and (max-width: 1599px) {
      width: 100%;
      height: 600px;
      background-size: cover;
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-pc.jpg");
      background-repeat: no-repeat;
      background-position: center;
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-pc@2.jpg");
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px)  {
      background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-tablet.jpg");
      width: 100%;
      height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-tablet@2.jpg");
      }
    }

    @media screen and (min-width: 320px) and (max-width: 767px)  {
      background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-mobile.jpg");
      width: 100%;
      height: 400px;
      background-size: 768px 400px;
      background-repeat: no-repeat;
      background-position: center;
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/bg-image-mobile@2.jpg");
      }
    }
  }
  
  .center__title {
    padding: 0;
    margin: 0 0 30px 0;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    @media screen and (min-width: 401px) and (max-width: 1200px) {
      font-size: 26px;
      width: 360px;
    }
    @media screen and (min-width: 320px) and (max-width: 400px) {
      font-size: 20px;
      width: 200px;
    }
  }
  
  .center-overlay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.20);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition-duration: 500ms;
    transition-property: opacity, visibility;
    visibility: hidden;
    opacity: 0;
    pointer-events:none;
    z-index: 2;
  }
  
  .center-overlay-target  {
    visibility: visible;
    opacity: 1;
    pointer-events:fill;
  }
  
  .center-overlay__popup {
    margin: 0;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition-duration: 500ms;
    transition-property: transform;
    transform: scale(0);
    width: 448px;
    height: 501px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    @media screen and (min-width: 320px) and (max-width: 479px)  {
      display: flex;
      justify-content: center;
      height: 80vh;
      width: 300px;
      padding: 10px 5px;
    }
    @media screen and (min-width: 480px) and (max-width: 767px)  {
      width: 370px;
      height: 529px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px)  {
      width: 370px;
      height: 529px;
    }
  }
  
  .center-overlay__name-label {
    position: relative;
  }
  
  .center-overlay__name-label-input {
    width: 403px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding: 0;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-radius: 4px;
      border: 1px solid var(--main-color);
      outline: none;
    }
    & + svg{
      cursor: pointer;
      transition-duration: 250ms;
      transition-property: fill;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover + svg,
    &:focus + svg {
      fill: var(--main-color);
    }
    @media screen and (min-width: 320px) and (max-width: 479px)  {
      height: 30px;
    }  
  }
  

  
  .center-overlay__name-label > .input-icon {
    position: absolute;
    top: 39px;
    left: 12px;
    transform: translateY(-50%);
    @media screen and (min-width: 320px) and (max-width: 479px)  {
      top: 33px;
    }
  }
  
  .center-overlay__name-label > .center-overlay__name-label-input {
    padding-left: 42px; 
  }
  
  .spritesheet {
    display: none;
  }
  
  .input-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    stroke-width: 0;
    stroke: currentColor;
    fill: #212121;
  }
  
  .center-overlay__name-label-comment {
    position: relative;
    color: #757575;
    font-family:var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
    & a{
      color:var(--main-color);
    }
    & textarea{
      color: #757575;
      font-size: 12px;
      font-style: normal;
      font-family:var(--main-font);
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.12px;
      padding: 12px 16px;
      border-radius: 4px;
      border: 1px solid rgba(33, 33, 33, 0.20);
      resize: none;
      width: 412px;
      height: 96px;
      cursor: pointer;
      margin-top: 3px;
      margin-bottom: 10px;
      transition-duration: 250ms;
      transition-property: border;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        border-radius: 4px;
        border: 1px solid var(--main-color);
        outline: none;
      }
      &::placeholder{
          color: rgba(117, 117, 117, 0.50);
          font-size: 12px;
          font-style: normal;
          font-family:var(--main-font);
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.12px;
        }
      @media screen and (min-width: 320px) and (max-width: 479px)  {
        width: 208px;
        height: 40px;
      }
      @media screen and (min-width: 480px) and (max-width: 767px)  {
        width: 338px;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px)  {
        width: 338px;
      }
    }
  }
  
  .center-overlay__input .center-overlay__name-label,
  .center-overlay__input .comment{
    color: #757575;
    font-family:var(--main-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  
  .form-check{
    display: flex;
    align-items: center;
  }
  
  .custom-checkbox{
    width: 12px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 2px;
    border: 2px solid #212121;
    transition-duration: 250ms;
    transition-property: border background-color ease-in;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 6px;
    fill: var(--white-color);
  }
  
  .checkbox:focus + .custom-checkbox {
    border: 2px solid var(--main-color);
  }
  
  .checkbox:checked + .custom-checkbox {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
  }
  
  .custom-checkbox-icon{
    opacity: 0;
    width: 14px;
    height: 14px;
    transition-duration: 250ms;
    transition-property: opacity ease-in;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .checkbox:checked + .custom-checkbox .custom-checkbox-icon{
    opacity: 1;
  }
  
  .center-overlay__input-button {
    padding: 0;
    margin: 30px 0 0 0;
    font-family:var(--main-font);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.06em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    width: 216px;
    height: 50px;
    background: var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    @media screen and (min-width: 320px) and (max-width: 479px)  {
      margin: 5px 0 0 0;
    }
  }
  
  .center-overlay__input {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 448px;
    @media screen and (min-width: 320px) and (max-width: 479px)  {
      width: 200px;
    }
    @media screen and (min-width: 480px) and (max-width: 767px)  {
      width: 370px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px)  {
      width: 370px;
    }
    & h2{
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.6px;
      margin-bottom: 12px;
      @media screen and (min-width: 320px) and (max-width: 479px)  {
        width: 200px;
      }
      @media screen and (min-width: 480px) and (max-width: 767px)  {
        width: 328px;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px)  {
        width: 328px;
      }
    }
    & input{
      margin: 4px 0 10px 0;
      @media screen and (min-width: 320px) and (max-width: 479px)  {
        width: 200px;

      }
      @media screen and (min-width: 480px) and (max-width: 767px)  {
        width: 328px;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px)  {
        width: 328px;
      }
    }
    & form,
    & div {
      padding: 0;
      list-style-type: none;
      margin: 0;
    }
    & li {
      margin: 0;
    }
    
  }
  
  #check{
    margin-left: 4px;
  }
  
  .check-text{
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    @media screen and (min-width: 320px) and (max-width: 479px)  {
      width: 177px;
      font-size: 12px
    }
    @media screen and (min-width: 480px) and (max-width: 767px)  {
      width: 348px;
      font-size: 12px
    }
    @media screen and (min-width: 768px) and (max-width: 1199px)  {
      width: 348px;
      font-size: 12px
    }
  }
  
  .center-overlay-target > .center-overlay__popup {
    transform: scale(1);
  }
  
  .center-overlay__popup .center-overlay-close {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    background-color: var(--white-color);
    top: 8px;
    right: 8px;
    font-size: 26px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  
  }
  
  .center-overlay__popup .center-overlay-close svg{
    transition-duration: 250ms;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }

  .center-overlay__popup .center-overlay-close:hover svg,
  .center-overlay__popup .center-overlay-close:focus svg {
  fill: var(--main-color);
}

  
  .center-button {
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.06em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    width: 216px;
    height: 50px;
    background: var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    &:active {
        background: var(--active-button-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        color: var(--white-color);
      }
  }