  .bottomline {
    margin: 0;
    position: relative; 
    padding: 60px 0;
    background: var(--black-bg-color);
  }
  
  .bottomline__left {
    display: flex;
    align-items: baseline;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    & div{
      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 60px;
      }
    }
    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
    }
  }
  
  .bottomline__left-button {
    color: var(--white-color);
  }
  
  .bottomline__left-contact {
    margin-top: 28px;
    padding: 0;
    font-style: normal;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.6);
    & li {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      padding-bottom: 9px;
      margin: 0;
      padding: 0;
      &:not(:last-child) {
        margin: 0 0 12px 0;
      }
    }
    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
    }
  }
  
  .bottomline__left-contact-colour-white {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .bottomline__left-contact-colour-grey {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  
  .bottomline__center{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 70px;
    & h3{
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      color: #FFF;
      font-family: var(--main-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.42px;
      text-transform: uppercase;
    }
    @media screen and (max-width: 480px) {
      margin-left: 0;
    }
  }
  
  .bottom-user-socials{
    display: flex;
    padding: 0;
    margin: 20px 0 0 0;
    gap: 10px;
  }
  
  .bottom-user-social {
    list-style-type: none;
    & svg {
      fill: #fff;
    }
  }
  
  .bottom-user-social-icon-bg {
    border-radius: 50%;
    background: #FFFFFF1A;
  }
  
  .container{
    position: relative;
  }
  
  .bottomline__right{
    margin-left: auto;

    & div{
      display: flex;
      margin-top: 20px;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center
      }
    }
    @media screen and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }
  }
  
  .bottomline__right-label{
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family:var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  
  .bottomline__right-name-label {
    display: block;
    width: 350px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.60);
    font-family:var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    outline: none;
    padding-left: 16px;
    margin-right: 12px;
    @media screen and (max-width: 768px) {
      width: 450px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 480px) {
      width: 434px;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
  
  .bottomline__right-label,
  .bottomline__right-name-label{
    margin-left: 0;
    padding-right: 0;
  }
  
  .bottomline__right-input-button {
    padding: 0;
    margin: 0;
    font-family:var(--main-font);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.06em;
    border: none;
    color: var(--white-color);
    width: 216px;
    height: 50px;
    background: var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    fill: white;
    & svg {
      vertical-align: middle;
    }
  }