  .main__buttons {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 50px 0;
    list-style-type: none;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  
  .main__buttons li:not(:last-child) {
    margin: 0 8px 0 0;
  }
  
  .main__buttons button {
    font-family:var(--main-font);
    width: auto;
    height: 38px;
    padding-right: 22px;
    padding-left: 22px;
    background: var(--white-bg-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.48px;
    color: var(--black-grey-color);
    transition-duration: 250ms;
    transition-property: background-color, color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: var(--main-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      color: var(--white-color);
    }
    &:active {
      background: var(--active-button-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      color: var(--white-color);
    }
    @media screen and (min-width: 320px) and (max-width: 767px)  {
      margin-bottom: 15px;
    }
  }
  .main__pic-list-block{
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
      
    }
  }

  .main__pic-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    & a {
      border-radius: 0px 0px 4px 4px;
      display: block;
      width: 370px;
      background: var(--white-color);
      transition-duration: 250ms;
      transition-property: box-shadow;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover ,
      &:focus {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);  
      }
       @media screen and (min-width: 320px) and (max-width: 767px) {
        width: auto;
        height: auto;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        height: auto;
      }
    }
    @media screen and (min-width: 1200px) {
      & li {
        width: auto;
      }
     }
    @media screen and (min-width: 1200px) {
      & li:not(:nth-child(-n + 4)) {
        margin: 42px 0 0 0;
      }
      & li:not(:nth-child(3n)) {
        margin: auto auto 0 0;
      }
     }
     @media screen and (min-width: 768px)  and (max-width: 1199px) {
      & li:not(:nth-child(-n + 3)) {
        margin: 42px 0 0 0;
      }
      & li:not(:nth-child(2n)) {
        margin: auto auto 0 0;
      }
     }
    & li .inblock {
      padding: 20px 24px;
      margin: 0;
    }
    & li a {
      text-align: left;
      margin: 0;
      padding: 0;
    }
    & li a .inblock {
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
    }
  }
  
    
  .main__pic-list li h3 {
    font-family:var(--main-font);
    color: var(--black-grey-color);
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    margin: 0 0 4px 0;
    padding: 0;
  }
  
  .main__pic-list li p {
    font-family:var(--main-font);
    color: var(--white-grey-color);
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .main__pic-list li a {
    font-family:var(--main-font);
    text-decoration: none;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .main__pic-list-container {
    position: relative;
    width: 50%;
    & img{
      width:370px;
      height:294px;
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        height: 294px;
      }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 100%;
        height: auto;
      }
    }
  }
  

  
  .main__pic-list-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--main-color);
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
    bottom: 100px;
    height: 0;
    transition-duration: 500ms;
    transition-property: height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  a:hover .main__pic-list-overlay,
  a:focus .main__pic-list-overlay{
    bottom: 100px;
    height: 75%;
    
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .first-element  .main__pic-list-overlay,
    .first-element .main__pic-list-overlay{
       bottom: 141px;
     }
     .second-element  .main__pic-list-overlay,
     .second-element  .main__pic-list-overlay{
        bottom: 136px;
      }
   }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
   .first-element  a:hover .main__pic-list-overlay,
   .first-element  a:focus .main__pic-list-overlay{
      height: 290px;
      bottom: 141px;
    }
    .second-element  a:hover .main__pic-list-overlay,
    .second-element  a:focus .main__pic-list-overlay{
       height: 295px;
       bottom: 136px;
     }
  }
  .text {
    padding: 63px 24px;
    color: #FFF;
    font-family:var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 14px;
    }
  }



  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .first-element a .inblock{     
      padding-bottom: 60px;
    }
    .second-element h3{
      width: 246px;
    }
  }
